@import "../../scss/variables";

.segment-content {
  margin: 24px 50px 0;
}

.reviews {
  &-segment {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      z-index: 1;
      bottom: 0;
      width: 100%;
      border-bottom: 1px solid #c2c2c2;
    }
    &__nav {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      position: relative;
    }
    &__title {
      z-index: 3;
      text-align: center;
      margin: 0;
      font-weight: 700;
      font-size: 20px;
      line-height: 50px;
      width: 164px;
      height: 50px;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      &:nth-child(1).active ~ .reviews-segment__indicator {
        transform: translateX(calc(164px * -1));
      }
      &:nth-child(2).active ~ .reviews-segment__indicator {
        transform: translateX(calc(164px * 0));
      }
      &:nth-child(3).active ~ .reviews-segment__indicator {
        transform: translateX(calc(164px * 1));
      }
    }
    &__indicator {
      z-index: 2;
      align-items: flex-start;
      position: absolute;
      top: 0;
      width: 164px;
      height: 50px;
      background-color: #e7e2e2;
      border-bottom: 1px solid $primary-color;
      transition: 0.5s;
    }
  }

  &-title {
    font-size: 28px;
    font-weight: 700;
  }
  &-list {
    margin-top: 36px;
    padding: 0;
    list-style: none;
  }
  &-pagination {
    text-align: center;
  }
}

.customer-review {
  &-container {
    display: flex;
    min-height: 124px;
    position: relative;
  }
  &__item {
  }
  &__avatar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 96px;
    &-img {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__content {
    margin-left: 12px;
  }
  &__name {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
  }
  &__rating {
  }
  &__comment {
    font-size: 14px;
    line-height: 20px;
    margin: 2px 0 28px;
    text-align: justify;
  }
  &__date {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    margin-top: 10px;
    bottom: 6px;
    color: #5a5a5a;
  }
  &__divider {
    margin: 10px 0;
    border-top: 2px solid #d8d8d8;
  }
}

.write-review {
  margin: 42px 50px 0;
  &__title {
    margin-bottom: 0;
  }
  &__content {
    background-color: #e6e6e6;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #6a6a6a;
    display: block;
    width: 100%;
    height: 84px;
    margin: 14px 0 10px;
  }
}
