#specification {
  font-family: "Roboto", sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
  & td {
    border: 1px solid #ddd;
    padding: 8px;
    &:first-child {
      font-weight: 700;
    }
  }
  & tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
}
