.cart-title {
  margin-left: 24px;

  &__text {
    font-size: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-top: 36px;
  }
}

.cart-content {
  margin-top: 20px;
}

.cart-table {
  width: 100%;
}

table.cart-table {
  border-collapse: separate;
  border-spacing: 0px;
  border: 1px solid rgba(90, 90, 90, 0.41);
  border-radius: 8px;
}

.cart-table__header {
  background: #c4c4c4;
  height: 50px;

  &-title {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
}

.cart-table__body {
  text-align: center;
  &-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
}

.cart {
  &-calculation {
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &-coupon {
    display: flex;
    gap: 16px;
  }

  &-totals {
    padding: 18px 31px 63px;
    width: 571px;
    height: 450px;
    background: #fffefe;
    border: 1px solid rgba(90, 90, 90, 0.4);
    box-sizing: border-box;
    border-radius: 5px;

    &__title {
      font-weight: 700;
      font-size: 34px;
      line-height: 40px;
    }

    &__items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 31px;

      &-name,
      &-price {
        font-weight: 700;
        font-size: 24px;
      }

      &-price {
        color: #5a5a5a;
      }
    }

    &__total {
      margin-top: 49px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-name {
        font-weight: 700;
        font-size: 32px;
      }
    }
  }

  &-checkout-btn {
    margin-top: 48px;
    width: 100%;
    height: 69px;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
  }
}
