.product-info {
  position: relative;
  height: 100%;
  margin-left: 62px;
  &__name {
    padding: 24px 0;
  }
  &__description {
    margin: 24px 0;
  }
  .rating {
    display: flex;
    align-items: center;
    line-height: 16px;
    &-item {
      &:first-child {
        padding-left: 0;
      }
      display: flex;
      align-items: center;
      height: 24px;
      line-height: 20px;
      padding: 0 16px;
      position: relative;
      &::after {
        content: "";
        height: 70%;
        transform: translateY(-50%);
        width: 2px;
        position: absolute;
        right: 0;
        top: 50%;
        background-color: #565353;
      }
    }
    &-text {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #565353;
    }
  }
  &__detail {
    margin-top: 16px;
  }
  &__price {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }
}

.product-btn {
  overflow: hidden;
  background-color: #e2e4e6;
  border-radius: 5px;
  width: 164px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-container {
    display: flex;
  }
}

.product-quantity {
  &__text {
    font-size: 16px;
    font-weight: 700;
    margin: 12px 0;
  }

  &__input {
    height: 40px;
    text-align: center;
  }

  &__btn {
    color: #33a0ff;
  }

  &__btn,
  &__input {
    background-color: #e2e4e6;
  }
}

.product-add__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  font-size: 16px;
  img {
    margin-right: 8px;
  }
}

.product-rate {
  margin-top: 20px;
  &__text {
    font-size: 16px;
    font-weight: 700;
  }
}

.add-btn {
  width: 164px;
  &-logo {
    margin-right: 8px;
  }
  &-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
}

//Remove Input Arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
