@import "../../scss/variables";

.image-gallery {
  min-height: 340px;
  min-width: 340px;
}

.image-gallery-image {
  border-radius: 5px;
}

.image-gallery-thumbnail.active {
  border-radius: 5px;
  border: 2px solid $primary-color;
}

.product-img {
  &__thumbnail {
    width: 100%;
    height: 474px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: contain;
    }
  }

  &__list {
    margin-top: 21px;
    height: 87px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 0;
    grid: 11px;
  }

  &__item {
    width: 87px;
    height: 87px;
    border-radius: 5px;
    border: 1px solid red;
    cursor: pointer;
  }
}
