.reviews {
  &-title {
    font-size: 28px;
    font-weight: 700;
  }
  &-list {
    margin-top: 36px;
    padding: 0;
    list-style: none;
  }
  &-pagination {
    text-align: center;
  }
}

.customer-review {
  &-container {
    display: flex;
  }
  &__avatar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 96px;
    &-img {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__content {
    margin-left: 12px;
  }
  &__name {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
  }
  &__comment {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  }
  &__date {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    margin-top: 8px;
    color: #5a5a5a;
  }
  &__divider {
    margin: 10px 0 14px;
    border-top: 2px solid #d8d8d8;
  }
}

.write-review {
  margin: 42px 50px 0;
  &__title {
    margin-bottom: 0;
  }
  &__content {
    background-color: #e6e6e6;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #6a6a6a;
    display: block;
    width: 100%;
    height: 84px;
    margin: 14px 0 10px;
  }
}
