.related-products {
  &__heading {
    margin: 0 16px 18px;
    overflow: hidden;
    &-name {
      display: inline-block;
      position: relative;
      padding-right: 10px;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      &::before {
        content: "";
        position: absolute;
        width: 100vw;
        background-color: #5a5a5a;
        top: 50%;
        height: 1px;
        left: 100%;
        transform: translateY(-50%);
        z-index: 0;
      }
    }
    &-arrow {
      display: block;
      position: relative;
      float: right;
      padding-left: 8px;
      background-color: white;
      > img {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 1.4rem;
        cursor: pointer;
        &:first-child {
          margin: 0 8px;
        }
      }
    }
  }
}

.slick-list {
  margin-right: -20px;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto;
}
